# Spotify Developer API Credentials
# Dashboard: https://developer.spotify.com/dashboard
# Redirect URIs:
#   Local: http://localhost:3000/api/auth/callback/spotify
#   Production: https://sonalyze.daywalker.dev/api/auth/callback/spotify
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

# Authentication Secret (generate in terminal with `openssl rand -base64 48`)
NEXTAUTH_SECRET=your-secure-random-nextauth-secret-min-32-chars
NEXTAUTH_URL=http://localhost:3000
